source/*.cs linguist-language=C# linguist-detectable -linguist-generated -linguist-vendored -linguist-documentation
source/*.ps1 linguist-language=PowerShell linguist-detectable -linguist-generated -linguist-vendored -linguist-documentation
